# ignore everything
*

# keep git files
!.gitignore
!README.md

# keep published site
!docs/
!docs/**

# ignore build cruft
/.quarto/
/index_cache/
/index_files/
**/*.quarto_ipynb
.Rhistory
.RData
.Rproj.user/